[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

pathlib = "*"
six = "*"
sqlalchemy = "*"
pymysql = "*"

[dev-packages]

pytest = "*"
pylint = "*"
yapf = "*"
mock = "*"

[requires]

python_version = '3.6'